# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
song_files = get_files('data/song_data')

In [6]:
filepath = song_files[0]

In [7]:
df = pd.read_json(filepath, lines=True)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AROUOZZ1187B9ABE51,40.79195,-73.94512,"New York, NY [Spanish Harlem]",Willie Bobo,SOBZBAZ12A6D4F8742,Spanish Grease,168.25424,1997

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values
song_data

array([['SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51',
        1997, 168.25424]], dtype=object)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
song_table_insert

'\nINSERT INTO songs\n(id, title, artist_id, year, duration)\nVALUES(%s, %s, %s, %s, %s)\n'

In [10]:
cur.execute(song_table_insert, song_data[0])
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [11]:
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AROUOZZ1187B9ABE51,40.79195,-73.94512,"New York, NY [Spanish Harlem]",Willie Bobo,SOBZBAZ12A6D4F8742,Spanish Grease,168.25424,1997

In [12]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values
artist_data

array([['AROUOZZ1187B9ABE51', 'Willie Bobo',
        'New York, NY [Spanish Harlem]', 40.79195, -73.94512]],
      dtype=object)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [13]:
cur.execute(artist_table_insert, artist_data[0])
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [14]:
log_files = get_files('data/log_data')

In [15]:
filepath = log_files[0]

In [16]:
df = pd.read_json(filepath, lines=True) 
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Great Lake Swimmers,Logged In,Kevin,M,0,Arellano,215.11791,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Your Rocky Spine,200,1542931645796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
1,Soziedad Alkoholika,Logged In,Kevin,M,1,Arellano,204.74730,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Va Bien,200,1542931860796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
2,Franz Ferdinand,Logged In,Kevin,M,2,Arellano,172.01587,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Eleanor Put Your Boots On,200,1542932064796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
3,Modest Mouse,Logged In,Kevin,M,3,Arellano,209.52771,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Float On,200,1542932236796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
4,Adam Lambert,Logged In,Kevin,M,4,Arellano,266.44853,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Aftermath,200,1542932445796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [17]:
import datetime
df = df[df.page == 'NextSong']
df.ts = df.ts.apply(lambda x : datetime.datetime.fromtimestamp(x/1000))
df['hour'] = df.ts.dt.hour
df['day'] = df.ts.dt.day
df['week'] = df.ts.dt.isocalendar().week
df['month'] = df.ts.dt.month
df['year'] = df.ts.dt.year
df['weekday'] = df.ts.dt.weekday
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,...,status,ts,userAgent,userId,hour,day,week,month,year,weekday
0,Great Lake Swimmers,Logged In,Kevin,M,0,Arellano,215.11791,free,"Harrisburg-Carlisle, PA",PUT,...,200,2018-11-22 22:07:25.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66,22,22,47,11,2018,3
1,Soziedad Alkoholika,Logged In,Kevin,M,1,Arellano,204.74730,free,"Harrisburg-Carlisle, PA",PUT,...,200,2018-11-22 22:11:00.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66,22,22,47,11,2018,3
2,Franz Ferdinand,Logged In,Kevin,M,2,Arellano,172.01587,free,"Harrisburg-Carlisle, PA",PUT,...,200,2018-11-22 22:14:24.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66,22,22,47,11,2018,3
3,Modest Mouse,Logged In,Kevin,M,3,Arellano,209.52771,free,"Harrisburg-Carlisle, PA",PUT,...,200,2018-11-22 22:17:16.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66,22,22,47,11,2018,3
4,Adam Lambert,Logged In,Kevin,M,4,Arellano,266.44853,free,"Harrisburg-Carlisle, PA",PUT,...,200,2018-11-22 22:20:45.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66,22,22,47,11,2018,3

In [18]:
#time_data = ()
#column_labels = ()

In [19]:
time_df = df[['ts', 'hour', 'day', 'week', 'month', 'year', 'weekday']]
time_df = time_df.rename(columns={'ts' : 'time_data'})
time_df.head()

                time_data  hour  day  week  month  year  weekday
0 2018-11-22 22:07:25.796    22   22    47     11  2018        3
1 2018-11-22 22:11:00.796    22   22    47     11  2018        3
2 2018-11-22 22:14:24.796    22   22    47     11  2018        3
3 2018-11-22 22:17:16.796    22   22    47     11  2018        3
4 2018-11-22 22:20:45.796    22   22    47     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [20]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()
    print(list(row))

[Timestamp('2018-11-22 22:07:25.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:11:00.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:14:24.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:17:16.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:20:45.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:25:11.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:29:30.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:33:55.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:38:05.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:42:32.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:45:07.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 22:49:02.796000'), 22, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 23:34:56.796000'), 23, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-22 23:39:24.796000'), 23, 22, 47, 11, 2018, 3]
[Timestamp('2018-11-23 00:35:36.796000'), 0, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 00:39:36.796000'), 0, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 01:48:24.796000'), 1, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 01:52:36.796000'), 1, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 01:57:58.796000'), 1, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 02:01:13.796000'), 2, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 02:04:51.796000'), 2, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 02:06:21.796000'), 2, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 02:09:56.796000'), 2, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 03:56:58.796000'), 3, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:03:11.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:07:58.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:09:06.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:11:42.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:15:22.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 04:28:16.796000'), 4, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:05:36.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:34:02.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:50:40.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:51:37.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:53:57.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 05:55:00.796000'), 5, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 08:39:09.796000'), 8, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 08:43:47.796000'), 8, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 08:57:19.796000'), 8, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:02:35.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:04:05.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:13:30.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:14:28.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:17:50.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:22:40.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:26:29.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:32:17.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:35:48.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:37:44.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:39:45.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:42:52.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:43:31.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:47:14.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:50:36.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:52:40.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:54:21.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 09:59:10.796000'), 9, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:01:25.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:02:53.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:05:04.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:07:58.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:08:33.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:11:58.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:12:48.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:15:42.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:17:20.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:21:09.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:23:40.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:28:13.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:30:30.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:33:54.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:34:55.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:37:42.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:38:30.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:42:12.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:42:26.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:46:07.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:46:24.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:50:21.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:50:45.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:51:36.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:52:33.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:54:29.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:54:50.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 10:58:04.796000'), 10, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 11:04:00.796000'), 11, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:25:06.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:27:50.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:38:54.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:41:51.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:41:51.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:45:52.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:47:49.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:50:26.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 12:53:55.796000'), 12, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:00:59.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:03:03.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:04:41.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:08:53.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:12:16.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:15:13.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:17:23.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:17:30.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:21:17.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:21:21.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:27:46.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:28:12.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:29:23.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:29:46.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:30:49.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:31:37.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:33:10.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:33:24.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:37:12.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:41:18.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:44:29.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:45:35.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:48:19.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:49:00.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:52:34.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:52:40.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:53:50.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:54:24.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:56:47.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:57:30.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 13:58:44.796000'), 13, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:00:53.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:00:58.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:00:59.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:01:07.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:04:35.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:05:27.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:07:13.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:08:14.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:09:22.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:13:08.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:13:10.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:16:50.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:16:52.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:17:10.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:20:21.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:20:52.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:21:51.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:22:57.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:24:22.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:25:39.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:26:02.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:26:29.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:29:37.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:30:20.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:30:59.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:32:34.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:33:03.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:34:48.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:35:35.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:36:59.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:38:06.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:41:23.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:42:35.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:44:59.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:45:50.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:48:25.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:50:31.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:50:45.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:54:33.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:55:04.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:58:57.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 14:59:02.796000'), 14, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:00:55.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:01:40.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:05:07.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:08:27.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:08:37.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:09:57.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:13:12.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:13:32.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:14:10.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:15:10.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:16:57.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:19:26.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:23:43.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:25:11.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:29:09.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:30:05.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:33:00.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:33:33.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:37:14.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:38:06.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:40:02.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:42:29.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:42:35.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:47:19.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:47:21.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:50:28.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:51:33.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:55:18.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 15:58:48.796000'), 15, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 16:03:13.796000'), 16, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 16:11:01.796000'), 16, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 16:17:56.796000'), 16, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 16:20:07.796000'), 16, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 16:28:21.796000'), 16, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:17:50.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:18:57.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:20:58.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:24:39.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:28:08.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:32:31.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:44:15.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:47:35.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:52:03.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 17:57:02.796000'), 17, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:00:15.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:04:48.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:07:15.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:11:29.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:15:47.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:18:51.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:29:46.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:33:44.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:38:41.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:40:27.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:43:42.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:47:18.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:50:30.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:55:28.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 18:59:18.796000'), 18, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:02:33.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:04:22.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:06:07.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:10:42.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:13:56.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:21:12.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:25:15.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:28:21.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:37:30.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:39:49.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 19:42:09.796000'), 19, 23, 47, 11, 2018, 4]
[Timestamp('2018-11-23 21:08:48.796000'), 21, 23, 47, 11, 2018, 4]

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [21]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']].copy()
user_df = user_df.drop_duplicates()
user_df['userId'] = user_df['userId'].apply(lambda x : int(x) if str(x).isdigit() else None)
user_df = user_df.dropna()
user_df.head()

    userId firstName  lastName gender level
0       66     Kevin  Arellano      M  free
12      63      Ayla   Johnson      F  free
15      58     Emily    Benson      F  paid
22      26      Ryan     Smith      M  free
24      16     Rylan    George      M  paid

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [22]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [23]:
for index, row in df.iterrows():
    print(row.song)

Your Rocky Spine
Va Bien
Eleanor Put Your Boots On
Float On
Aftermath
Dok si pored mene
Not Enough
Everlong
Si TÃƒÂƒÃ‚Âº No EstÃƒÂƒÃ‚Â¡s AquÃƒÂƒÃ‚Â­
All Star
Crazy In Love
More Than A Woman
Yellow
Something About You
Glittering Prize
Don't Cry (Original)
Here_ There And Everywhere
Buck's Boogie
Meddle
Tonight
Terminal Preppie
Pop Champagne
What's The Difference
To Build A Home
Tonight In Flames (Album Version)
Numb (Album Version)
Nostalgia Amnesia
Somebody To Love
You're The One
Edge Of The Ocean
Two Brown Eyes
Stretchin' Out (In A Rubber Band) (LP Version)
Eenie_ Meenie_ Miney_ Mo
Can't Stand Me Now
The Penalty
Love Is A Losing Game
Before I Forget (Album Version)
One More Sad Song
Paradise City
Sehr kosmisch
Cold night for alligators
Interlude (Milo)
Clouds (Of Color Bright Album Version)
Burden In My Hand
Devour (Album Version)
Turn Me Up (Sfaction Version / Feat. Sandy)
Tighten Up
Jump Then Fall
Definitive
Me Pregunto
Lips Of An Angel
Intricacy
Ex-Factor
The Way I Feel (Not Our Master)
Upgrade
Moje Mieszkanie
Too Shy
Can't Keep
I Don't Like The Drugs (But The Drugs Like Me)
Growing On Me
Rabbit Heart (Raise It Up)
More Adventurous (Album Version)
Get Like Me
Cry On (Album Version)
Kids Will Be Skeletons
Rastafari Is
Wish You Well
Valley of the Shadows
Not Cool Again
The New Chapter
Back Against The Wall
Emily
Almaz
DVNO
ReprÃƒÂƒÃ‚Â©sente
Try Your Best
Out Of Control
The Bad Touch
O.P.P.
Fragile or Possibly Extinct
S.O.S. (Message In A Bottle) (Hi_Tack Radio Edit)
That's All (2007 Digital Remaster)
Stop & Erase
Theme
Still Alive And Well
Long Thin Dawn
Take Over The World
Gone
Honey Wagon
Lovely
Invierno Del 92
Rage!
Are You That Somebody? ( LP Version )
Stone City Band_ Hi!
Clarity
The Thousand Names of Lord Shiva (Part 1)
Prelude
Peace Train
Last Day Of Magic
Better Now
You Only (Acoustic Version)
Happy Alone
Sorry Or Please
Fade To Black
A succubus in rapture
AmnistÃƒÂƒÃ‚Â­a
O Canto Da Ema
Up Up & Away
You Can't Break A Broken Heart
Make Love To Your Mind
Blessed Be Your Name
Stuck (Album Version)
War
Read My Mind
Trying To Find A Balance
DÃƒÂƒÃ‚Â­a cero
Halloween Is Black As Night
Masters Of Universe
Sky Might Fall
Outro
Take This To Heart (Album)
Totgeliebt
Beautiful Stranger
Walking Zero
Thank You
Monster (Album Version)
Ill Fated
Tight Whips
West One (Shine On Me)
Human Patterns
Dog Days Are Over (Radio Edit)
Dry Spell (LP Version)
Hardest Of Hearts
Fix You
In My Place
Two Is Better Than One
Summerland
Always (7'' Mix)
This Is The Life
Saving Us (Album Version)
Jumento Celestino
What Do I Know
Ela E Carioca
La Huella De Tu Mirada
What Can I Do?
Ready Or Not
Behind The Moon
Behind Blue Eyes
Hardest Of Hearts
Black Hole
Baby
Catch You Baby (Steve Pitron & Max Sanna Radio Edit)
Canada
Walk Away (Single/LP Version)
Undo
Love Dog
Kiss (LP Version)
The Only Exception (Album Version)
Le Vin De L'Assassin
Dejame Bailar
Pursuit Of Happiness (nightmare)
Madrugada
Living In A Lie
Night Divine (On A Search In America Album Version)
Never Let You Go
Diduntdidunt (featuring Saigon) (Amended Version)
Look No Further
Heartbeats
With You
Song For Guy
Rabbit Heart (Raise It Up)
Latein
What's Left of the Flag
Boys In The Trees (LP Version)
Firestarter
Spit It Out [Explicit]
Blackpowder Orchard
La Prima Cosa Bella
Bleed It Out [Live At Milton Keynes]
Rain On The Pretty Ones
India'Song
Rockin Round The World
Beautiful Flower
Playground
Wake Up Call
The Time Is Now
Undercover Martyn
The Greatest [Featuring Mannie Fresh] (Amended Album Version)
Le Courage Des Oiseaux
What You Wanted
Not Ready Yet
Let's Spend The Night Together (1999 Digital Remaster)
Mr. Man
FFT (The Good_ The Bad_ And The Ugly Album Version)
Come Away With Me
Frijolero
Moon Baby
Trunk
Fade To Black
Oliver'S Army
Bleed It Out [Live At Milton Keynes]
Confrontation
Caldonia
La Valse D'AmÃƒÂƒÃ‚Â©lie (Version Orchestre)
Everybody Needs A 303
Masterpiece (Album Version)
Wordy Rappinghood
Goodnight Bad Morning
Something (Album Version)
Yellow
Love And Affection
Gone Going
My Immortal (bonus)
Interlude #1 (Mama)
Draw Me Close
On Top
Some Kind Of Wonderful (Non-Album Track)
Sehr kosmisch
Honey
Suzy Q
Robotique Majestique (Album)
My Moon My Man
Follow Me (Explicit LP Version)
Listen To Your Heart (Cologne)
8th Of November (Album Version) (w/o Intro)
The Writing On My Fathers Hand
SinceritÃƒÂƒÃ‚Â© Et Jalousie
#40
Ay Mi Palomita (1997 Digital Remaster)
Get Up Off Your Fat
Who Was It (Demo Version Of 'EMI')
The fluke
BorivÃƒÂƒÃ‚Â³knak valÃƒÂƒÃ‚Â³
I'm Not Down
Blood On The Motorway
Lemonade
Misty
Our Filmscore
Leave It All To Me (Theme from iCarly)

In [24]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [25]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.